* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgb(40, 153, 168), rgb(92, 209, 230));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}